In [1]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np

In [2]:
train=pd.read_csv('train.csv',index_col=0)
test=pd.read_csv('test.csv',index_col=0)

In [3]:
train.head(2)

    carat        cut color clarity  depth  table     x     y     z  price
id
0    1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1    2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387

In [4]:
test.head(2)

        carat        cut color clarity  depth  table     x     y     z
id
193573   0.35      Ideal     D     VS2   62.3   56.0  4.51  4.54  2.82
193574   0.77  Very Good     F     SI2   62.8   56.0  5.83  5.87  3.68

In [14]:
print(f'Train Skew:\n-----------\n{train.skew()}\n \nTest Skew:\n-----------\n{test.skew()}\n')
print(f'Train Shape: {train.shape}\n-----------\nTest Shape: {test.shape}\n-----------\n')

Train Skew:
-----------
carat    1.00
depth   -0.28
table    0.62
x        0.36
y        0.36
z        0.69
price    1.61
dtype: float64

Test Skew:
-----------
carat    1.00
depth   -0.29
table    0.62
x        0.36
y        0.36
z        0.87
dtype: float64

Train Shape: (193573, 10)
-----------
Test Shape: (129050, 9)
-----------

In [7]:
from lazypredict.Supervised import LazyClassifier
from sklearn.model_selection import train_test_split
X,Y=train.drop('price',axis=1),train.price
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=.10)

In [ ]:
clf = LazyClassifier(verbose=0,ignore_warnings=True, custom_metric=None)
models,predictions = clf.fit(x_train, x_test, y_train, y_test)
models

 10%|███████▊                                                                    | 3/29 [1:52:23<11:31:05, 1594.81s/it]