<h1> Pandas Time Detla </h1>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
data=pd.read_csv('https://raw.githubusercontent.com/slmsshk/DataSet/main/EURUSD_M1.csv',sep='\t',parse_dates=True)

In [4]:
data.head()

                  Time     Open     High      Low    Close  Volume
0  2022-06-03 13:46:00  1.07177  1.07183  1.07175  1.07176      18
1  2022-06-03 13:47:00  1.07178  1.07178  1.07175  1.07177      13
2  2022-06-03 13:48:00  1.07178  1.07188  1.07178  1.07188      10
3  2022-06-03 13:49:00  1.07185  1.07189  1.07177  1.07187      27
4  2022-06-03 13:50:00  1.07187  1.07188  1.07181  1.07188      23

In [5]:
pd.Timedelta(data[[Time)

ValueError: Value must be Timedelta, string, integer, float, timedelta or convertible, not Series