In [6]:
# !pip install pandas
# !pip install numpy
# !pip install matplotlib
# !pip install scikit-learn
!pip install pyarrow

Collecting pyarrow
  Using cached pyarrow-9.0.0-cp310-cp310-win_amd64.whl (19.5 MB)
Requirement already satisfied: numpy>=1.16.6 in c:\users\slmss\.conda\envs\bigdata\lib\site-packages (from pyarrow) (1.23.3)
Installing collected packages: pyarrow
Successfully installed pyarrow-9.0.0

In [2]:
from sys import getsizeof


import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

import sklearn

In [3]:
labels=['track_id','race_date','race_number','program_number','trakus_index','latitude','longitude','distance_id','course_type','track_condition',
'run_up_distance','race_type','post_time','weight_carried','odds','jockey']
data=pd.read_csv(r"C:\Users\Slmss\Desktop\big-data-derby-2022\nyra_2019_complete.csv",names=labels,index_col=False,chunksize=100000)
getsizeof(data)
data.read()

,track_id,race_date,race_number,program_number,trakus_index,latitude,longitude,distance_id,course_type,track_condition,run_up_distance,race_type,post_time,weight_carried,odds,jockey
0,AQU,2019-01-01,9,6,72,40.672902,-73.827607,600,D,GD,48,CLM,25000.0,420,120,Andre Shivnarine Worrie
1,AQU,2019-01-01,9,6,73,40.672946,-73.827587,600,D,GD,48,CLM,25000.0,420,120,Andre Shivnarine Worrie
2,AQU,2019-01-01,9,6,74,40.672990,-73.827568,600,D,GD,48,CLM,25000.0,420,120,Andre Shivnarine Worrie
3,AQU,2019-01-01,9,6,63,40.672510,-73.827781,600,D,GD,48,CLM,25000.0,420,120,Andre Shivnarine Worrie
4,AQU,2019-01-01,9,6,64,40.672553,-73.827762,600,D,GD,48,CLM,25000.0,420,120,Andre Shivnarine Worrie
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5228425,AQU,2019-11-23,9,2,167,40.672363,-73.830853,1100,T,GD,72,STK,200000.0,353,124,Joel Rosario
5228426,AQU,2019-11-23,9,2,168,40.672321,-73.830873,1100,T,GD,72,STK,200000.0,353,124,Joel Rosario
5228427,AQU,2019-11-23,9,2,169,40.672281,-73.830893,1100,T,GD,72,STK,200000.0,353,124,Joel Rosario
5228428,AQU,2019-11-23,9,2,170,40.672240,-73.830913,1100,T,GD,72,STK,200000.0,353,124,Joel Rosario
5228429,AQU,2019-11-23,9,2,171,40.672200,-73.830932,1100,T,GD,72,STK,200000.0,353,124,Joel Rosario

In [15]:
import feather

ModuleNotFoundError: No module named 'feather'

In [14]:
df_random = pd.DataFrame(np.random.randint(0,100,size=(10000000,10)))
df_random.to_csv("data_random.csv")
df = pd.read_csv('data_random.csv')

df_random.to_feather("data_random.feather")

ValueError: feather must have string column names

In [12]:
labels=['track_id','race_date','race_number','program_number','trakus_index','latitude','longitude','distance_id','course_type','track_condition',
'run_up_distance','race_type','post_time','weight_carried','odds','jockey']
df=pd.read_csv(r"C:\Users\Slmss\Desktop\big-data-derby-2022\nyra_2019_complete.csv",names=labels,index_col=False)

df.to_feather("data_random.feather")

In [11]:
df.dtypes

track_id            object
race_date           object
race_number          int64
program_number      object
trakus_index         int64
latitude           float64
longitude          float64
distance_id          int64
course_type         object
track_condition     object
run_up_distance      int64
race_type           object
post_time          float64
weight_carried       int64
odds                 int64
jockey              object
dtype: object